.h1{
    text-align: left;
    height: 7%;
    width: 30%;
    margin: 4% 4% 2% 4%;
}
.h5{
    text-align: left;
    height: 7%;
    width: 30%;
    margin: 2% 4%;
    color: #314351;
}
.float{
    float: right;
}
.background{
    display: block;
    height: 30%;
    width: 100%;
    background-image: url("images/background.avif");
}
.button{
    margin-bottom: 50%;
    margin-top: 20%;
}
.centerimage{
    margin-left: 30%;
    margin-top: 5%;
}
.lastdiv{
    height: 80%;
    background-color: #dfe7ff;
}
.footer{
    background-color: #1d2b36;
    position: relative;
    top: 400px;
}
.footerlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;
   column-gap: 13%;
}
h3,.whiteitem{
    color: white;
   width: 50%;
   font-weight: 400;   
   margin: 2% 4% 0% 4%;
}
.footerpara{
    list-style-type: none;
    color: #93a1b0;
   
}
.footerimage{
    height: 5%;
    width: 5%;
    margin-left: 5%;
}
hr{
    color:#93a1b0;
}
h4{
    color: #93a1b0;
}
.card{
    display: inline-block;
    margin: 5%;
    padding: 2%;
}
nav{
    position: fixed;
}
.linkimage{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-left: 1%;
    border: 1px solid white;
    border-radius: 30px;
}
